{% extends 'base.html.njk' %}

{% block title %}Thank You{% endblock %}

{% block content %}
  <h1>Thank You, {{ userName }}</h1>
  <p>Your like has been counted!</p>
  <a href="/top-fossils">Back to Top Fossils</a>
{% endblock %}